@import url('https://fonts.googleapis.com/css?family=Kanit');

html {
	min-height: 100%;
}

body {
	font-family: 'Kanit';
	padding: 0;
	margin: 0;
	height: 100vh;
}

button {
	background: #e25a2c;
	color: white;
	display: block;
	margin: 0 auto;
	padding: 5px 15px;
	font-size: 24px;
	line-height: 1.8;
	appearance: none;
	box-shadow: none;
	text-shadow: -1px 1px #964C33;
	border: none;
	border-radius: 3px;
}

button:focus {
	outline: none
}

button:hover {
	background-color: #C8481C;
	text-shadow: -1px 1px #964C33;
}

button:active {
	background-color: #E6744C;
	text-shadow: -1px 1px #964C33;
}

table {
	width: 100%;
	border-radius: 3px;
}

td {
	height: 33px;
	border-radius: 3px;
}

tr {
	border-radius: 3px;
}

.historyCell {
	height: 80px;
}

.menu {
	line-height: 90px;
	background-color: white;
	list-style: none;
	border-bottom: 2px solid #e25a2c;
}

.main {
	height: calc(100vh - 92px);
	min-height: 1000px;
	background-image: url(assets/img/background.jpg);
}

.buffer {
	height: 30px;
}

.heading {
	color: #FFFFFF;
	background-color: #0C8397;
	height: 60px;
	text-align: center;
	border-top-right-radius: 3px;
	font-size: 20px;
	font-weight: lighter;
}

.icon {
	position: relative;
	top: 20px;
	left: 20px;
}

.orangeBackground {
	background-color: #e25a2c;
}

.logo {
	height: 40px;
	filter: grayscale(100%);
}

.previewArea {
	width: 275px;
	height: 350px;
	background: white;
	float: left;
	position: relative;
	left: 20px;
	top: 20px;
	border-color: transparent;
	border-radius: 3px;
}

.smallText {
	color: gray;
	font-size: 14px;
}

.whiteCorner {
	height: 60px;
	width: 60px;
	float: left;
	background-color: white;
	border-top-left-radius: 3px;
}

#appLogo {
	position: relative;
	top: 20px;
	left: 10px;
	right: 10px;
	max-width: 100%;

}

#view1 {
	width: auto;
	height: auto;
}

#historyArea {
	min-width: 300px;
	width: calc(100% - 335px);
	background: white;
	float: right;
	position: relative;
	right: 20px;
	top: 20px;
	border-radius: 3px;
}

#submit {
	background-color: #0C8397;
}

#cancel {
	background-color: gray;
}

/*The following block helps with background image layout on small devices*/
@media screen and (max-width: 615px) {
	.main {
		height: calc(100vh - 92px);
		min-height: 1350px;
		background-image: url(assets/img/background.jpg);
	}

	.previewArea {
		left: calc((100% - 275px)/2);
	}

	#historyArea {
		width: calc(100% - 40px);
		top: 40px;
	}
}