@import url('https://fonts.googleapis.com/css?family=Kanit');

html {
	min-height: 100%;
}

body {
	font-family: 'Kanit';
	padding: 0;
	margin: 0;
	height: 100%;
}

button {
	background: #e25a2c;
	color: white;
	display: block;
	margin: 0 auto;
	padding: 5px 15px;
	font-size: 24px;
	line-height: 1.8;
	appearance: none;
	box-shadow: none;
	border-radius: 0;
	text-shadow: -1px 1px #964C33;
	border: none;
	border-radius: 2px;
}

button:focus {
	outline: none
}

button:hover {
	background-color: #C8481C;
	text-shadow: -1px 1px #964C33;
}

button:active {
	background-color: #E6744C;
	text-shadow: -1px 1px #964C33;
}

table {
	width: 100%;
	border: 1px solid #D3D3D3;
}

td {
	height: 80px;
}

tr {
	border-bottom: 1px solid #D3D3D3;
}

.menu {
	line-height: 90px;
	background-color: white;
	list-style: none;
	border-bottom: 2px solid #e25a2c;
}

.body {
	height: calc(100% - 90px);
}

.buffer {
	height: 30px;
}

.logo {
	height: 40px;
	filter: grayscale(100%);
}

#appLogo {
	max-width: 100%;
}

#historyHeading {
	color: white;
	background-color: #0C8397;
}

#view1 {
	width: auto;
	height: auto;
}


/*#fieldArea, #historyArea {vertical-align: top;}*/
#previewArea {width: 300px; height: auto; background: white; float: left;}
#fieldArea {width: 300px; height: auto; background: white; float: left;}
#historyArea {min-width: 430px; width: calc(100% - 325px); background: white; float: right;margin: 0 auto;}

#fromValue {
	background: white;
	border-color: black;
	font-size: 14px;
}