<div id="view1">
	<div class="buffer"/>
	<div id="previewArea" ng-show="preview">
		<div class="heading">
			<B>Do You Wish To Procede With This Transaction?</B><br>
		</div>
		<B>FROM ACCOUNT:</B><br>
		<label class="smallText">&nbsp;Free Checking(4692) - Available ${{availableBalance}}</label><br>
		<B>TO ACCOUNT:</B><br>
		<label class="smallText">&nbsp;{{submittedTransaction.merchant}}</label><br>
		<B>AMOUNT:</B><br>
		<label class="smallText">&nbsp;${{submittedTransaction.amount}}</label><br>
		<Button id="submit" ng-click="submitTransaction()">SUBMIT</Button><br>
		<Button id="cancel" ng-click="cancelTransaction()">cancel</Button>
	</div>
	<div id="fieldArea" ng-show="!preview">
		<div class="heading">
			<img src="assets/img/arrows.png">
			<B>Make a Transfer</B>
		</div>
		<form name="form">
			<label>FROM ACCOUNT:</label><br>
			<label class="smallText">Free Checking(4692) - Available ${{availableBalance}}</label><br>
			<label>TO ACCOUNT:<br> &nbsp;<input class="smallText" type="text" name="toValue" ng-model="newTransaction.merchant"></label><br>
			<label>AMOUNT:<br>$<input class="smallText" type="number" name="amount" ng-model="newTransaction.amount"></label><br><br>
			<Button ng-click="validateTransaction()">SUBMIT</Button>
		</form>
	</div>
	<div id="historyArea">
		<table>
			<thead>
				<tr><th class="heading" colspan="5"><img src="assets/img/briefcase.png">Recent Transactions</th></tr>
			</thead>
			<tbody>
				<tr ng-repeat="transaction in transactionHistory">
					<td width="10px" bgcolor="{{transaction.categoryCode}}" />
					<td>
						<div>{{transaction.transactionDate | date : "MMM. d"}}</div>
					</td>
					<td>
						<div>
							<img class="logo" src="{{transaction.merchantLogo}}">
						</div>
					</td>
					<td>
						<div>
							<B>{{transaction.merchant}}</B><br><small>{{transaction.transactionType}}</small>
						</div>
					</td>
					<td><div><B>-${{transaction.amount | number : 2}}</B></div></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>