<div id="view1">
	<!-- Entry View -->
	<div id="entryArea" class="previewArea">
		<form name="form" autocomplete="off">
			<table>
				<thead>
					<tr>
						<td>
							<div class="whiteCorner">
								<img class="icon" src="assets/img/arrows.png">
							</div>
						</td>
						<td ng-show="!preview" class="heading" colspan="2">Make a Transfer</td>
						<td ng-show="preview" class="heading orangeBackground">Proceed With Transfer?</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td colspan="3">FROM ACCOUNT:</td>
					</tr>
					<tr>
						<td colspan="3">
							<label class="smallText">Free Checking(4692) - Available {{availableBalance | currency}}</label>
						</td>
					</tr>
					<tr>
						<td colspan="3">TO ACCOUNT:</td>
					</tr>
					<tr>
						<td colspan="3">
							&nbsp;<input ng-show="!preview" class="smallText" type="text" name="toValue" ng-model="newTransaction.merchant">
							<label ng-show="preview" class="smallText">{{submittedTransaction.merchant}}</label>
						</td>
					</tr>
					<tr>
						<td colspan="3">AMOUNT:</td>
					</tr>
					<tr>
						<td colspan="3">
							<label ng-show="!preview">$<input class="smallText" type="number" name="amount" ng-model="newTransaction.amount"></label>
							<label ng-show="preview" class="smallText">{{submittedTransaction.amount | currency}}</label>
						</td>
					</tr>
					<tr ng-show="!preview">
						<td colspan="3">
							<Button ng-click="validateTransaction()">SUBMIT</Button>
						</td>
					</tr>
					<tr ng-show="preview">
						<td>
							<Button id="cancel" ng-click="cancelTransaction()">cancel</Button>
						</td>
						<td colspan="2">
							<Button id="transfer" ng-click="submitTransaction()">TRANSFER</Button>
						</td>
					</tr>
				</tbody>
			</table>
		</form>
	</div>
	<!-- Transaction History View -->
	<div id="historyArea">
		<table>
			<thead>
				<tr>
					<td/>
					<td>
						<img src="assets/img/briefcase.png">
					</td>
					<td class="heading" colspan="3">Recent Transactions</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="transaction in transactionHistory">
					<td width="10px" bgcolor="{{transaction.categoryCode}}" />
					<td class="historyCell">
						<div>{{transaction.transactionDate | date : "MMM. d"}}</div>
					</td>
					<td class="historyCell">
						<div>
							<img class="logo" src="{{transaction.merchantLogo}}">
						</div>
					</td>
					<td class="historyCell">
						<div>
							<B>{{transaction.merchant}}</B><br><small>{{transaction.transactionType}}</small>
						</div>
					</td>
					<td class="historyCell">
						<div>
							<B>-{{transaction.amount | currency}}</B>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>