<div id="view1">
	<!-- Preview View -->
	<div id="previewArea" class="previewArea" ng-show="preview">
		<div class="heading orangeBackground">
			<div class="whiteCorner">
				<img class="icon" src="assets/img/arrows.png">
			</div>
			<B>Do You Wish To Procede With This Transaction?</B>
		</div>
		<B>FROM ACCOUNT:</B><br>
		<label class="smallText">&nbsp;Free Checking(4692) - Available {{availableBalance | currency}}</label><br>
		<B>TO ACCOUNT:</B><br>
		<label class="smallText">&nbsp;{{submittedTransaction.merchant}}</label><br>
		<B>AMOUNT:</B><br>
		<label class="smallText">&nbsp;{{submittedTransaction.amount | currency}}</label><br>
		<Button id="submit" ng-click="submitTransaction()">TRANSFER</Button><br>
		<Button id="cancel" ng-click="cancelTransaction()">cancel</Button>
	</div>
	<!-- Entry View -->
	<div id="fieldArea" class="previewArea" ng-show="!preview">
		<div class="heading">
			<div class="whiteCorner">
				<img class="icon" src="assets/img/arrows.png">
			</div>
			<B>Make a Transfer</B>
		</div>
		<form name="form" autocomplete="off">
			<label>FROM ACCOUNT:</label><br>
			<label class="smallText">Free Checking(4692) - Available {{availableBalance | currency}}</label><br>
			<label>TO ACCOUNT:<br> &nbsp;<input class="smallText" type="text" name="toValue" ng-model="newTransaction.merchant"></label><br>
			<label>AMOUNT:<br>$<input class="smallText" type="number" name="amount" ng-model="newTransaction.amount"></label><br><br>
			<Button ng-click="validateTransaction()">SUBMIT</Button>
		</form>
	</div>
	<!-- Transaction History View -->
	<div id="historyArea">
		<table>
			<thead>
				<tr>
					<td/>
					<td>
						<img src="assets/img/briefcase.png">
					</td>
					<th class="heading" colspan="3">Recent Transactions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="transaction in transactionHistory">
					<td width="10px" bgcolor="{{transaction.categoryCode}}" />
					<td>
						<div>{{transaction.transactionDate | date : "MMM. d"}}</div>
					</td>
					<td>
						<div>
							<img class="logo" src="{{transaction.merchantLogo}}">
						</div>
					</td>
					<td>
						<div>
							<B>{{transaction.merchant}}</B><br><small>{{transaction.transactionType}}</small>
						</div>
					</td>
					<td>
						<div>
							<B>-{{transaction.amount | currency}}</B>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>